body{
    padding: 0;
    overflow-y: hidden;
}

#target_board {
    color: white;
}

#content{
    position: absolute;
    width: 100%;
    top: 0px;
    /* bottom: 30vh; */
}

#leftbar{
    background-color:#eee;
    position: absolute;
    width: 620px;
    height: 100%;
    overflow:auto;
}

#rightbar{
    background-color:#eee;
    padding-left: 620px;
    height: 100%;
    overflow: auto;
}

#footer{
    background-color:#777;
    position: absolute;
    /* height: 30vh; */
    width: 100%;
    bottom:0;
}

#terminal_holder {
    height: 30vh;
}

#hide_show {
    position: absolute;
    right: 10px;
    top: 5px;
}